/* Login.css */

/* Latar belakang card */
.card-body {
  background-color: rgb(186, 177, 177);
  padding: 20px;
}

/* Teks card */
.card-title {
  color: white;
}

/* Warna tombol */
.btn-login {
  background-color: #007bff; 
  border-color: #007bff;
}

.btn-login:hover {
  background-color: #0056b3; 
  border-color: #0056b3;
}

.btn-logout {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-logout:hover {
  background-color: #c82333; 
  border-color: #c82333;
}

/* Warna teks input */
.form-label {
  color: white;
}

/* Warna teks dan latar belakang input */
.form-control {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}


body {
  background-color: rgb(231, 214, 214);
}
